.stage {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 10px;
}

.stage__name {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: solid 1px #000;
}

.stage__body {
}
